exportPattern("^[[:alpha:]]+")
importFrom("magrittr","%>%")
importFrom("methods", "new","setClass","setGeneric","setMethod")
importFrom("stats", "as.formula", "coef", "lm", "na.omit", "pt","terms", "update", "var")
